body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.SearchBox{
    height:25%;
    width:100%;
    text-align: center;
    color:red;
}
#searchBar{
    width:35%;
    padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid red;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
#root{
    width: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.book-icon {
    width: 25px; /* You can adjust the width and height as needed */
    height: 25px;
}
.icon-link {
    display: flex;
    align-items: center; /* To horizontally center the content */
    margin-right: 10px; /* Optional: Add some spacing between the "View" text and the icon */
}

.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    height:200px;
    background-color: #dcdcdc;
    
}
.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.images{
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 10px;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    
}
button:hover{
    background-color: orangered;
}

.ResultBox{
    width:350px;
    height: 350px;
    overflow: hidden;
    
}

.FlexContainer{
    display:flex;
    align-items: center;
    justify-content: center;
}
select{
    height:45px;
    text-align: center;
    border:2px solid red;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
select:hover{
    background-color: orangered;
}
